.container{
  font-family: "SFCompactText-Medium", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.filter-button{
  background-color: transparent;
  border: #5f6965;
  border-radius: 2px;
}

.filter-img{
  width: 4rem;
  padding-right: 0.75rem;
}

.addresses{
  display: flex;
  align-items: center;

  border-bottom: 1px solid rgba(24, 24, 24, 0.61);

  padding-left: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.box-img {
  width: 3.2rem;
  padding-right: 0.75rem;
}
