<div class="container" xmlns="http://www.w3.org/1999/html">
  <!--<button class="sort-button" (click)="openSortSheetMenu()"><img class="sort-img" src="assets/sort_24dp-x1.png"/>
  </button>-->
  <div class="sort-container">
    <p>Sortierung: {{selectedSort}}</p>
    <button class="sort-button" (click)="openSortSheetMenu()">
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>
  <ng-template class="bottom-sheet-container" #sortBottomSheet>
    <table style="width:100%">
      <tr>
        <td>
          <p class="bottom-sheet-element">Sortieren nach</p>
        </td>
      </tr>
      <tr>
        <td>
          <button class="bottom-sheet-element" (click)="setSort('street', 'Strasse')">Strasse</button>
        </td>
      </tr>
      <tr>
        <td>
          <button class="bottom-sheet-element" (click)="setSort('zip', 'Postleitzahl')">Postleitzahl</button>
        </td>
      </tr>
      <tr>
        <td>
          <button class="bottom-sheet-element" (click)="setSort('city', 'Ort')">Ort</button>
        </td>
      </tr>
      <tr>
        <td>
          <button class="bottom-sheet-element" (click)="closeSortSheetMenu()">Cancel</button>
        </td>
      </tr>
    </table>
  </ng-template>
  <h1>Auslieferungen</h1>
  <mat-form-field appearance="outline">
    <mat-label>Auftragsdatum</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="date" (dateChange)="onDateChanged()" name="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div class="addresses" *ngFor="let address of addresses; let i = index">
    <button class="delivery-button" (click)="onDeliveryComponent(address.id, address.lat, address.lng)">
      <img class="box-img" src="assets/box.png"/>
      <p *ngIf="address.company">{{address.company}}, {{address.street}}, {{address.zip}} {{address.city}}</p>
      <p *ngIf="!address.company">{{address.name}} {{address.surname}}, {{address.street}}, {{address.zip}} {{address.city}}</p>
    </button>
  </div>
</div>
<app-navbar></app-navbar>
