.container {
  font-family: "SFCompactText-Medium", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.sort-button {
  background-color: transparent;
  border: none;
}

.sot-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sot-container > p {
  margin: 0rem;
  height: 2rem;
}

.sort-button {
  height: 2rem;
  margin-bottom: 0.3rem;
}


.delivery-button {
  background-color: transparent;
  border: none;
}

.sort-img {
  width: 4rem;
  padding-right: 0.75rem;
}

.addresses {
  display: flex;
  align-items: center;

  border-bottom: 1.5px solid #9891917C;

  padding-left: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.box-img {
  width: 3.2rem;
  padding-right: 0.75rem;
}

td {
  border-bottom: 1px solid #9891917C;
}

.bottom-sheet-element {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0px;
  background: transparent;
  border: none;
  width: 100%;
  color: #0A84FF;
}

td > p {
  text-align: center;
  font-size: 10px;
  color: rgba(194, 199, 194, 0.8) !important;
}
