.container{
  font-family: "SFCompactText-Medium", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.sort-button{
  background-color: transparent;
  border: #5f6965;
  border-radius: 2px;
}

.sort-img{
  width: 4rem;
  padding-right: 0.75rem;
}

.addresses{
  display: flex;
  align-items: center;

  border-bottom: 1.5px solid rgba(152, 145, 145, 0.49);

  padding-left: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.box-img {
  width: 3.2rem;
  padding-right: 0.75rem;
}
