body {
  background-color: #001f2f
}

form {
  max-width: 71rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1rem solid #79b51c;
  background-color: #fff;
  padding: 5rem;
}

h3 {
  font-weight: bold;
}

.input-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

mat-form-field {
  min-width: 23rem;
  width: 29rem;
}

.button-container {
  text-align: center;
}

.backButton {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  z-index: 99;
  background-color: transparent;
  border-color: transparent;
}

.backButton:focus {
  outline: none;
}

.backButton > mat-icon {
  color: #fff;
}
