.container {
  font-family: "SFCompactText-Medium", Arial, Helvetica, sans-serif;
}

h1 {
  padding: 2rem 0 0 0;
}

.onBackButton {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  z-index: 99;
  background-color: transparent;
  border-color: transparent;
}

.onBackButton:focus {
  outline: none;
}

h1 {
  margin-top: 2.5rem;
  text-align: left;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
