<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<div class="container">
  <button class="onBackButton" (click)="onBack()">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <form #orderForm="ngForm">
    <h1>{{pageTitle}}</h1>
    <app-address #address>
    </app-address>
    <div class="flex-center">
      <button class="custom-button" (click)="onSaveAddress()">
        <mat-icon class="custom-icons">save</mat-icon>
        <p>Speichern</p>
      </button>

      <button class="custom-button" (click)="onDeleteCustomer()">
        <mat-icon class="delete-icons">delete</mat-icon>
        <p>Kunde löschen</p>
      </button>
    </div>
  </form>
</div>
