<div class="container">
  <button class="onBackButton" (click)="onBack()">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <form #orderForm="ngForm">
    <h1>{{pageTitle}}</h1>
    <app-address #address
                 [company]="company"
                 [surname]="surname"
                 [name]="name"
                 [street]="street"
                 [zip]="zip"
                 [city]="city"
                 [email]="mail"
                 [phone]="phone">
    </app-address>
    <div class="flex-center">
      <button class="btn btn-success" type="button" (click)="onSaveAddress()">Speichern</button>
    </div>
  </form>
</div>
