<body>
<button class="backButton" (click)="onBack()">
  <mat-icon>arrow_back_ios</mat-icon>
</button>
<form #passwordForm="ngForm" (ngSubmit)="onSubmit(passwordForm)">
  <h3>Passwort zurücksetzen</h3>
  <p>Mit deinem Benutzerkonto ist eine E-Mail-Adresse verbunden. Bitte trage diese ein. Danach senden wir dir einen Link
    zu, mit dem du dein Passwort zurücksetzen kannst.</p>
  <div class="input-container">
    <mat-form-field appearance="outline">
      <mat-label>E-Mail</mat-label>
      <input matInput ngModel name="email" required>
    </mat-form-field>
  </div>
  <div class="col-xs-12 flex-center button-container">
    <button class="btn btn-success" type="submit" [disabled]="!passwordForm.valid">Link senden</button>
  </div>
</form>
</body>
