.container{
  font-family: "SFCompactText-Medium", Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 0.8rem;
}

.container > h1 {
  padding: 2rem 0 0 0;
  text-align: left;
}

.addresses {
  display: flex;
  align-items: center;

  border-bottom: 1.5px solid #9891917C;

  padding-left: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.addresses p {
  display: initial;
}

.customer-button {
  display: contents;
  background-color: transparent;
  border: none;
}

.customer-button:focus {
  outline: none;
}

.customer-button p {
  display: inline-block;
  margin-bottom: 0;
}

.customer-journey-img {
  width: 3.2rem;
  padding-right: 0.75rem;
}
