.container{
  font-family: "SFCompactText-Medium", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.addresses{
  display: flex;
  align-items: center;

  border-bottom: 1.5px solid #9891917C;

  padding-left: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.customer-button{
  background-color: transparent;
  border: none;
}

.customer-journey-img {
  width: 3.2rem;
  padding-right: 0.75rem;
}
