h1 {
  padding: 2rem 0 0 0;
  text-align: left;
}

.input-container {
  display: flex;
}

.input-100 {
  width: 100%;
}

.input-50 {
  width: 50%;
}

.order-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #006763;
  width: 15rem;
  height: 5rem;
  border-radius: 7pt;
  margin: 0 0.5rem;
}

.order-icons {
  color: #FFFF;
  margin-right: 1rem;
}

.edit-icons {
  color: #FFFF;
}

.order-button > p {
  color: #FFFF;
  margin: 0rem;
  font-size: larger;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.input-container mat-form-field:first-child {
  padding-right: 5px;
}

.input-container mat-form-field:nth-child(2) {
  padding-left: 5px;
}
