<div>
  <div class="flex-center" style="margin: 10px">
    <form #orderForm="ngForm" (ngSubmit)="onSubmit()">
      <h1>Auftrag erfassen</h1>

      <h2>Auftraggeber</h2>
      <app-autocomplete #autoClient
      [title]="'Auftraggeber'"
      ></app-autocomplete>
      <app-address #client
                   [company]="clientCompany"
                   [surname]="clientSurname"
                   [name]="clientName"
                   [street]="clientStreet"
                   [zip]="clientZip"
                   [city]="clientCity"
                   [mail]="clientMail"
                   [phone]="clientPhone">
      </app-address>
      <div class="col-xs-12 flex-center">
        <button class="btn btn-success" type="button" (click)="onSaveAddress('client')">Speichern</button>
      </div>

      <h2>Empfänger</h2>
      <app-autocomplete #autoReceiver
                        [title]="'Empfänger'"
      ></app-autocomplete>
      <app-address #receiver
                   [company]="receiverCompany"
                   [surname]="receiverSurname"
                   [name]="receiverName"
                   [street]="receiverStreet"
                   [zip]="receiverZip"
                   [city]="receiverCity"
                   [mail]="receiverMail"
                   [phone]="receiverPhone">
      </app-address>
      <div class="col-xs-12 flex-center">
        <button class="btn btn-success" type="button" (click)="onSaveAddress('receiver')">Speichern</button>
      </div>

      <h2>Auftrag</h2>
      <div class="input-container">
        <mat-form-field class="input-50" appearance="outline">
          <mat-label>Abholdatum</mat-label>
          <input matInput [matDatepicker]="picker" ngModel name="pickupDate" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="input-100" appearance="outline">
          <mat-label>Artikel</mat-label>
          <textarea matInput ngModel name="article" required></textarea>
        </mat-form-field>
      </div>
      <div class="col-xs-12 flex-center" style="margin-bottom: 120px">
        <button class="btn btn-primary" type="submit" [disabled]="!orderForm.valid">Auftrag erfassen</button>
      </div>
    </form>
  </div>
</div>
<app-navbar></app-navbar>
