<div class="row">
  <div class="col-xs-12">
    <form>
      <h1>Auftrag erfassen</h1>
      <h2>Auftraggeber</h2>
      <div class="input-container">
        <div class="input-100 form-group">
          <input type="text" id="company" class="form-control" placeholder="Firma" #companyInput>
        </div>
        <div class="input-container-2">
          <div class="input-50 form-group">
            <input type="text" id="surname" class="form-control" placeholder="Vorname" #surnameInput>
          </div>
          <div class="input-50 form-group">
            <input type="text" id="name" class="form-control" placeholder="Name" #nameInput>
          </div>
        </div>
        <div class="input-container-2">
          <div class="input-50 form-group">
            <input type="text" id="street" class="form-control" placeholder="Strasse" #streetInput>
          </div>
          <div class="input-50 form-group">
            <input type="text" id="number" class="form-control" placeholder="Nummer" #numberInput>
          </div>
        </div>
        <div class="input-container-2">
          <div class="input-50 form-group">
            <input type="text" id="zip" class="form-control" placeholder="PLZ" #zipInput>
          </div>
          <div class="input-50 form-group">
            <input type="text" id="city" class="form-control" placeholder="Ort" #cityInput>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 flex-center">
          <button class="btn btn-primary" type="button">Add Order</button>
          <button class="btn btn-success" type="submit" (click)="saveCustomer()">Save</button>
          <button class="btn btn-danger" type="button" (click)="delete()">Delete</button>
        </div>
      </div>
    </form>
  </div>
</div>
