<form #autocompleteForm="ngForm">
  <mat-form-field style="width: 50%; padding-right: 5px" appearance="outline">
    <mat-label>{{title}}</mat-label>
    <input type="text"
           matInput
           [attr.aria-label]="title"
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="getOptionText">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
                  (blur)="onAddressSelected(option)"
                  (keyup.enter)="onAddressSelected(option)">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
