<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Auftraggeber</mat-label>
    <input type="text"
           placeholder="Auftraggeber"
           aria-label="Auftraggeber"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto"
           (blur)="prefillAddress($event.target.value)"
           (keyup.enter)="prefillAddress($event.target.value)">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
