<body>
<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <h1>Willkommen bei velochurier</h1>
  <h3>Melden Sie sich bitte mit Ihrer E-Mail Adresse und Ihrem Passwort an.</h3>
  <div class="input-container">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="email" required>
      <mat-icon matSuffix>mail_outline</mat-icon>
      <mat-error *ngIf="email.invalid">{{getErrorMessage(email)}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Passwort</mat-label>
      <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'" required>
      <button class="eye" type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password.invalid">{{getErrorMessage(password)}}</mat-error>
    </mat-form-field>
  </div>
  <div class="col-xs-12 flex-center" style="padding-bottom: 2rem">
    <button class="btn btn-success" type="submit" [disabled]="!loginForm.valid">Anmelden</button>
  </div>
  <a>Passwort vergessen?</a>
</form>
</body>
