<body>
<form #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <h1>Willkommen bei velochurier</h1>
  <h3>Melden Sie sich bitte mit Ihrer E-Mail Adresse und Ihrem Passwort an.</h3>
  <div class="input-container">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput ngModel name="mail">
      <mat-icon matSuffix>mail_outline</mat-icon>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Passwort</mat-label>
      <input matInput ngModel name="password">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
  </div>
  <div class="col-xs-12 flex-center" style="padding-bottom: 2rem">
    <button class="btn btn-success" type="submit">Anmelden</button>
  </div>
  <a>Passwort vergessen?</a>
</form>
</body>
