<body>
<button class="backButton" (click)="onBack()">
  <mat-icon>arrow_back_ios</mat-icon>
</button>
<form #passwordForm="ngForm" (ngSubmit)="onSubmit(passwordForm)">
  <h3>Passwort ändern</h3>
  <p>Falls du dein <a routerLink="/auth/forgetPassword">Passwort vergessen</a> hast, kannst du einen Link zum Zurücksetzen des Passworts anfordern. Den
    Link senden wir dir per E-Mail zu.</p>
  <div class="input-container">
    <mat-form-field appearance="outline">
      <mat-label>Aktuelles Passwort</mat-label>
      <input matInput ngModel name="passwordOld" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Neues Passwort</mat-label>
      <input matInput ngModel name="passwordNew" required>
    </mat-form-field>
  </div>
  <div class="col-xs-12 flex-center button-container">
    <button class="btn btn-success" type="submit" [disabled]="!passwordForm.valid">Passwort ändern</button>
  </div>
</form>
</body>

