<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<body>
<button class="backButton" (click)="onBack()">
  <mat-icon>arrow_back_ios</mat-icon>
</button>
<form [formGroup]="formGroup" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
  <img src="../../../assets/logo.png"/>
  <h3>Passwort ändern</h3>
  <p>Falls du dein <a routerLink="/auth/forgetPassword">Passwort vergessen</a> hast, kannst du einen Link zum Zurücksetzen des Passworts anfordern. Den
    Link senden wir dir per E-Mail zu.</p>
  <div class="input-container">
    <mat-form-field appearance="outline">
      <mat-label>Aktuelles Passwort</mat-label>
      <input matInput [formControl]="formGroup.get('passwordOld')" required>
      <mat-icon matSuffix>lock</mat-icon>
      <mat-error>{{getErrorMessage(formGroup.get('passwordOld'))}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Neues Passwort</mat-label>
      <input matInput [formControl]="formGroup.get('passwordNew')" required>
      <mat-icon matSuffix>lock_open</mat-icon>
      <mat-error>{{getErrorMessage(formGroup.get('passwordNew'))}}</mat-error>
    </mat-form-field>
  </div>
  <div class="col-xs-12 flex-center button-container">
    <button class="btn btn-success" type="submit" [disabled]="!formGroup.valid">Passwort ändern</button>
  </div>
</form>
</body>

