<div id="flex-container">
  <div class="half-containers">
    <p>
      <mat-icon (click)="onBack('deliveries')" class="goBack">chevron_left</mat-icon>
      Google Maps Integration
    </p>
  </div>

  <div class="half-containers">
    <div class="client-container" *ngFor="let address of addresses; let i = index">
      <div class="client" *ngIf="i === currentIndex">
        <div class="client-details">
          <h2>{{address.id}}</h2>
          <p>{{address.zip}} {{address.city}}</p>
        </div>
        <a href="Tel: {{address.phone}}" class="call-icon-container">
          <mat-icon class="call-icon">call</mat-icon>
        </a>
      </div>
    </div>
    <div class="receiver-container" *ngFor="let address of addresses; let i = index">
      <div class="receiver" *ngIf="i === currentIndex">
        <div class="location-icon-container">
          <mat-icon class="location-icon">location_on</mat-icon>
        </div>
        <div class="receiver-details">
          <strong>{{address.id}}</strong>
          <p>{{address.street}}</p>
          <p>{{address.zip}} {{address.city}}</p>
        </div>
      </div>
    </div>
    <div class="deliver-container">
      <div class="deliver-button" (click)="openDeliverSheetMenu()">
        <mat-icon class="mailbox-icons">markunread_mailbox</mat-icon>
        <p>Zustellen</p>
      </div>
      <ng-template class="bottom-sheet-container" #deliverBottomSheet>
        <table style="width:100%">
          <tr>
            <td>
              <p class="p-sheet-element">Zugestellt</p>
            </td>
          </tr>
          <tr>
            <td>
              <button class="bottom-sheet-element" (click)="deleteDeliver('Persönlich', address)">Persönlich
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <button class="bottom-sheet-element" (click)="deleteDeliver('Empfang', address)">Empfang</button>
            </td>
          </tr>
          <tr>
            <td>
              <button class="bottom-sheet-element" (click)="deleteDeliver('Milchkasten', address)">Milchkasten
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <button class="bottom-sheet-element" (click)="deleteDeliver('Wohnungstüre', address)">Wohnungstüre
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <button class="bottom-sheet-element" (click)="deleteDeliver('Haustüre', address)">Haustüre</button>
            </td>
          </tr>
          <tr>
            <td>
              <button class="bottom-sheet-element" (click)="deleteDeliver('Nachbar', address)">Nachbar</button>
            </td>
          </tr>
          <tr>
            <td>
              <button class="bottom-sheet-element" (click)="deleteDeliver('Retourniert', address)">Retourniert zum
                Absender
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <button class="bottom-sheet-element" (click)="closeDeliverSheetMenu()">Cancel</button>
            </td>
          </tr>
        </table>
      </ng-template>
    </div>
  </div>
</div>
