<mat-form-field appearance="outline" id="date-over_map">
  <mat-label>Auftragsdatum</mat-label>
  <input matInput [matDatepicker]="picker" [formControl]="date" (dateChange)="onDateChanged()" name="date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<agm-map
  [latitude]='lat'
  [longitude]='lng'
  [zoom]='zoom'>
  <agm-marker
    *ngFor="let address of addresses"
    [latitude]="address.lat"
    [longitude]="address.lng">
    <agm-info-window>
      <div>{{ address.id }}</div>
      <div>{{ address.street }}</div>
    </agm-info-window>
  </agm-marker>
</agm-map>
